#example {
    background-color: #ffffff;
    height: 100%;
    .row {
        height: 100%;
        width: 100%;
        position: relative;
    }
    border-radius: 5px;
    box-shadow: 1px 1px 1px #888888;
}

.video-container {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 71px;

}

iframe {}

.lessons-nav {
    height: 100%;
    border-right: 1px black solid;
    padding: 0px;
    .btn {

        width: 100%;
        margin: auto;
        font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 16px;
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background-color: #fcfcfc;
        text-indent: 0;
        border-bottom: 1px solid #dcdcdc;
        border-top: 0px solid #dcdcdc;
        display: inline-block;
        color: #777777;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 0px #ffffff;
        padding: 12px;
        &:hover {
        	background-color: #dfdfdf;
        }
        &.active {
        	background-color: #dfdfdf;
        }
    }
    .bottom-left-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

.video-panel {
    position: relative;
    height: 550px;
    .bottom-nav {
    	position: absolute;
    	bottom: 0;
    	width: 100%;
    	padding-right: 30px;
    	.btn {
    		font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-weight: 300;
        font-size: 16px;
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background-color: #fcfcfc;
        text-indent: 0;
        border-bottom: 1px solid #dcdcdc;
        border-top: 0px solid #dcdcdc;
        display: inline-block;
        color: #777777;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 0px #ffffff;
        padding: 12px;
        border: 1px #3c3c3c solid;
    	}
    }
}

@media (min-width: 768px) {
    .video-container {
        max-height: 550px;
    }
}

