#example {
    background-color: #ffffff;
    height: 100%;
    .row {
        height: 100%;
        width: 100%;
        position: relative;
    }
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
}

iframe {}

.lessons-nav {
    height: 100%;
    border-right: 1px black solid;
    padding: 0px;
    .btn {
        border: 1px black solid;
        border-radius: 0;
        border-right: 0px;
        width: 100%;
        margin: auto;
        &:hover {
            background-color: #f2f2f2;
        }
    }
    .btn {
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background-color: #fcfcfc;
        -webkit-border-top-left-radius: 6px;
        -moz-border-radius-topleft: 6px;
        border-top-left-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-radius-topright: 6px;
        border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -moz-border-radius-bottomright: 6px;
        border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -moz-border-radius-bottomleft: 6px;
        border-bottom-left-radius: 6px;
        text-indent: 0;
        border: 1px solid #dcdcdc;
        display: inline-block;
        color: #777777;
        font-family: arial;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        text-decoration: none;
        text-align: center;
        text-shadow: 1px 1px 0px #ffffff;
    }
    .btn:hover {
        background-color: #dfdfdf;
    }
    .bottom-left-btn {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .active {
        background-color: #dfdfdf;
    }
}

.video-panel {
    position: relative;
}