<div id="example" class="container video-container">
  <div class="row">
    <div class="lessons-nav col-sm-3 hidden-xs">
      <div ng-repeat="video in videos">
      <div ng-class="{active: (currentVideo == $index)}" ng-click="setCurrentVideo($index)" class="btn">
        {{video.title}}
      </div>
      </div>
    </div>
    <center>
    <div class="video-panel col-sm-9 col-xs-12">
      <div class="video-title"><h3>{{videos[currentVideo].title}}</h3></div>
      <iframe width="420" height="315" ng-src="{{videoUrl(videos[currentVideo].src)}}" frameborder="0" allowfullscreen></iframe>
      <div class="video-subtitle"><h4>{{videos[currentVideo].subheading}}</h4></div>
      <div class="video-description">{{videos[currentVideo].description}} </div>
      <div class="bottom-nav">
        <div ng-disabled="currentVideo == 0" ng-click="previousVideo()" class="pull-left btn">Previous</div>
        
        <a ui-sref="text.tutorials" class="btn">View Lesson's Text</a>
        
        <div ng-disabled="currentVideo == videos.length - 1" ng-click="nextVideo()" class="pull-right btn">Next</div>
      </div>
    </div>
    </center>
  </div>
</div>