<div id="example" class="container content-container">
	<div class="row">
		<div class="jumbotron">
			<h1>CS 4911 Senior Design</h1>
			<p class="lead">This site was created for our Georgia Tech Senior Design course</p>
			<a class="btn" href="https://github.com/nickincardone/Senior-Design-Site">Code on GitHub</a>
		</div>
	</div>
	<div class="row">
		<div class="collaborators">
			<h2>Group Members</h2>
			<ul>
				<li>Nichlos Incardone</li>
				<li>Philip Johnson</li>
				<li>Prahlad Venkatesh</li>
				<li>Steven James Moore</li>
			</ul>
		</div>
	</div>
</div>