<div class="jumbotron">
    <h1>JavaFX Tutorials</h1>
    <p class="lead">Tutorials Originally Designed for CS 2340 at Georgia Tech</p>
  </div>

  <div class="tutorial-list">

  <ul class="tutorials">
  	<li><a ui-sref="text.tutorial0">Tutorial Zero</a>
  		<p>Description of Video</p>
  	</li>
  	<li><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</li>
  	<li><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</li>
  	<li><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</li>
  	<li><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</li>
  </ul>
  </div>