<div class="jumbotron">
    <h1>JavaFX Tutorials</h1>
    <p class="lead">Tutorials Originally Designed for CS 2340 at Georgia Tech</p>
  </div>

  <div class="tutorial-list">

  <ul class="tutorials">
  	<li><a ui-sref="text.tutorial0">Tutorial One</a>
  		<p>Installation and Hello World with Scene Builder</p>
  	</li>
  	<li><a ui-sref="text.tutorial1">Tutorial Two</a>
  		<p>Setting Up Our Database</p>
  	</li>
  	<li><a ui-sref="text.tutorial2">Tutorial Three</a>
  		<p>Changing Between Scenes</p>
  	</li>
  	<li><a ui-sref="text.tutorial3">Tutorial Four</a>
  		<p>Login Page Using SQLite Database</p>
  	</li>
  	<li><a ui-sref="text.tutorial4">Tutorial Five</a>
  		<p>CSS with JavaFX</p>
  	</li>
    <li><a ui-sref="text.tutorial5">Tutorial Six</a>
      <p>VMore feature for our ToDoapp - Tasks DB</p>
    </li>
    <li><a ui-sref="text.tutorial6">Tutorial Seven</a>
      <p>Insert Features for our App</p>
    </li>
    <li><a ui-sref="text.tutorial7">Tutorial Eight</a>
      <p>Remove and Organize features</p>
    </li>
    <li><a ui-sref="text.tutorial8">Tutorial Nine</a>
      <p>Edit Features</p>
    </li>
    <li><a ui-sref="text.tutorial9">Tutorial Ten</a>
      <p>Dialog Boxes and Wrap-Up</p>
    </li>
  </ul>
  </div>