<div class="jumbotron">
    <h1>JavaFX Tutorials</h1>
    <p class="lead">Tutorials Originally Designed for CS 2340 at Georgia Tech</p>
  </div>

  <div class="tutorial-list">

  <li class="tutorials">
  	<ul><a ui-sref="text.tutorial0">Tutorial Zero</a>
  		<p>Description of Video</p>
  	</ul>
  	<ul><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</ul>
  	<ul><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</ul>
  	<ul><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</ul>
  	<ul><a ui-sref="">Tutorial One</a>
  		<p>Description of Video</p>
  	</ul>
  </li>
  </div>