body {
    background-color: #303030;
    font-family: $main-font;
    font-weight: 400;
    font-size: 1em;
    color: #363636;
}

@media (min-width: 768px) {
    .container {
        max-width: 920px;
    }
}

.content-container {
    .row {
        margin-left: 0px;
    }
}

.jumbotron {
    text-align: center;
    a {
        font-size: 2em;
        background-color: #fff;
        border: 2px #e7e7e7 solid;
    }
}