<div id="example" class="container video-container">
  <div class="row">
    <div class="lessons-nav col-md-3">
      <div class="btn">
      Lesson 1
      </div>
      <div class="active btn">
      Lesson 2
      </div>
      <div class="btn">
      Lesson 3
      </div>
      <div class="btn">
      Lesson 4
      </div>
      <div class="btn">
      Lesson 5
      </div>
      <div class="btn">
      Lesson 6
      </div>
    </div>
    <div class="video-panel col-md-9">
      <center>
        <div class="video-title"><h3>Lesson Title</h3></div>
      <iframe width="420" height="315" src="//www.youtube.com/embed/a1Y73sPHKxw" frameborder="0" allowfullscreen></iframe>
      <div class="video-subtitle"><h4>Second Description</h4></div>
      <div class="video-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>
    </center>
    <center>
    <div class="pull-left btn">Previous</div>
    
      <div class="btn">View Lesson's Text</div>
    
    <div class="pull-right btn">Next</div>
  </center>
    </div>    
  </div>
</div>